@import url('https://fonts.googleapis.com/css2?family=Inter');

.App {
  margin: auto;
  background-color: lightgray;
  padding: 10px 40px;
}

p, a {
  font-size: 16px;
}

h1 {
 font-size: 48px;
}

h3 {
  font-size: 40px;
  margin: 10px 0;
}

.content {
  max-width: 1300px;
  margin: auto;
}

.selectors {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}